<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c30adbff5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assset/css/style.css">
    <title>BoolFlix</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="./assset/img/logo.png" alt="">
            </div>
            <div class="btn">
                <button class="btn_empty">
                    <i class="fa fa-globe"></i>
                    Italiano
                    <i class="fas fa-sort-down"></i>
                </button>
                <button class="btn_full">Accedi</button>
            </div>

        </nav>
        <section class="title">
            <h1>Film, serie TV e tanto altro. Senza limiti.</h1>
            <h3>Guarda ciò che vuoi ovunque.</h3>
            <p>Vuoi guardare BoolFlix? Cerca subito una Serie TV o un Film</p>
        </section>

        <div id="app">
            <div class="ricerca">
                <input type="text" name="cerca" v-model="query" @keyup.enter=" serch(query)"
                    placeholder="Ricerca film o serie Tv">
                <button @click="serch">Inizia ></button>
            </div>

            <div class="movies" v-if="!error">
                <div class="movie" v-for="(movie, index) in movies">

                    <div class="movie_image">
                        <img :src="copertina(movie.poster_path)" :alt="movie.poster_path">
                        <div class="movie_body">

                            <h3>Title: {{movie.title || movie.name}}</h3>
                            <h4>Original: {{movie.original_title || movie.original_name}}</h4>
                            <!-- gestisco il code in bandiera con metodo language-->
                            <p>Lingua: <img width="15px" :src="language(movie.original_language)"
                                    :alt="movie.original_language"></p>
                        </div>
                        <div class="movie_footer">
                            <a href="#">Voto: {{movie.vote_average}}</a>
                            <p>
                                <i class="fas fa-star" v-for="number in star(movie.vote_average)"></i>
                                <i class="far fa-star" v-for="number in 6 - star(movie.vote_average)"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <h3>{{error}}</h3>
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./assset/js/main.js"></script>
</body>

</html>